body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: "Franklin Gothic Medium", "Arial Narrow", "Arial, sans-serif";
  background: url("../pictures/demon_slayer.jpg");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background: rgba(100, 150, 150, 0.3);
  border-radius: 10px;
  padding: 20px;
  width: 50%;
  max-width: 800px;
  text-align: center;
}

h1 {
  margin-bottom: 20px;
  font-size: 3em;
  color: white;
}

input[type="text"],
input[type="hidden"],
button {
  width: 90%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid darkblue;
  border-radius: 5px;
}

button {
  background-color: darkblue;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 1em;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', 'Arial, sans-serif';
}

button:hover {
  background-color: blue;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th,
td {
  padding: 12px;
  border: 1px solid white;
  text-align: center;
}

th {
  background-color: darkblue;
  color: white;
}

td button {
  margin: 5px;
  padding: 5px 10px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

td button:first-child {
    background-color: darkred;
    color: white;
}

td button:last-child {
    background-color: darkgreen;
    color: white;
}

td button:first-child:hover {
  background-color: red;
}

td button:last-child:hover {
  background-color: green;
}
